{% extends "layout.html"%}

{% block body %}
    <div class="container my-5">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th>Description</th>
                    <th>Amount($)</th>
                    <th>Category</th>
                    <th>Record Date</th>
                    <th>Delete</th>
                    <th>Edit</th>
                </tr>
            </thead>
            <tbody>
                {% for item in statements %}
                <tr>
                    <td>{{item.name}}</td>
                    <td>{{item.amount | currencyFormat }}</td>
                    <td><span class="badge bg-info text-dark">{{item.category}}</span></td>
                    <td>{{item.date}}</td>
                    <td>
                        <a href="/delete/{{item.id}}" class="btn btn-sm btn-danger">Del</a>
                    </td>
                    <td>
                        <a href="/edit/{{item.id}}" class="btn btn-sm btn-success">Edit</a>
                    </td>
                </tr>
                {% endfor %}
            </tbody>

        </table>
    </div>

{% endblock %}
    